.footer-link{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
    
}
.footer-link:hover{
    text-decoration: none;
    color: red;
}